* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto.ttf");
}

@font-face {
    font-family: Roboto;
    src: url("../fonts/Robotobold.ttf");
    font-weight: bold;
}

.footer .menu a {
  text-decoration: none;
}

#header .logo img {
    vertical-align: bottom;
    max-width: 250px;
    max-height: 75px;
    padding-left: 100px;

}

.logo img {
    vertical-align: bottom;
    max-width: 250px;
    max-height: 75px;
}

.footer .logo img {
    margin: 0;
}

.iframe {
    display: flex;
    justify-content: center;
    margin: 30px 0 ;
}


.logo img:hover {
    transition: 1s;
    background-color: #ffffff;
    opacity: 0.5;
    filter: alpha(opacity=70);
    transition: all .1s ease-in-out;
}

.logsign {
    margin-right: 100px;
}


.logsign img {
    vertical-align: bottom;
    max-width: 200px;
    max-height: 55px;
}

.logsign:hover {
    background-color: #ffffff;
    transition: 1s;
    font-weight: bold;
    opacity: 0.5;
    filter: alpha(opacity=70);
    transition: all .2s ease-in-out;
    transform: scale(1.0);
}


.menu {
    margin-left: 100px;
    text-decoration: none;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu-item {
    margin: auto;
    padding-right: 100px;
}


.menu-item a {
    font-size: 15px;
    color: #030305;
    text-decoration: none;
}

.menu-item a:hover {
    transition: 1s;
    border-bottom: 2px solid black;
    text-decoration: none;
    font-size: 15px;
    color: #030305;
}

.main-uslugi {
    
    background-position: center;
    background-position-x: 0;
    background-size: cover;
    padding: 104px 0 100px 0;
    display: block;
}

.main {
    
    background-position: center;
    background-position-x: 0;
    background-size: cover;
    padding: 50px 0 300px 0;
    display: block;
}

.main-info {
    text-align: center;
}

#maps {
    transition: 1s;
    color: #343642;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

#maps-title{
    margin-bottom: 50px;
}

.main-title {
    transition: 1s;
    font-weight: bold;
    font-size: 80px;
    line-height: 110%;
    color: #030305;
    margin-bottom: 40px;
}

.main-text {
    transition: 1s;
    font-size: 24px;
    line-height: 130%;
    color: #030305;
    margin-bottom: 40px;
    
}

.video-item {
    position: center;
    right: 0;
    z-index:-1;
    width: 100%;
    height: 100%;
    background-position: 100% 100%;
    background-size: contain;
}

.button {
    transition: 1s;
    padding: 20px;
    width: 334px;
    height: 64px;
    background: #030305;
    border: 0;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: background-color .5s;
}

.button:hover {
    cursor: pointer;
    background: #575757;
}

.car {
    padding: 100px 0;
}



.sub-title {
    transition: 1s;
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    color: #030305;
    padding: 75px 0 0 0;
}

.sub-title2 {
    transition: 1s;
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    color: #030305;
    padding: 50px 0 50px;
}

.car-items {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-evenly;
}

.car-item {
    max-width: 600px;
    text-align: center;
    margin-top: 40px;
}

.car-item-image:hover img {
    transform: scale(1.1);
}

.car-item-image img {
    vertical-align: bottom;
    transition: all .3s;
    max-width: 384px;
    max-height: 247px;
}

.car-item-title {
    transition: 1s;
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #030305;
    padding: 15px 0 17px 0;
}

.car-item-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.car-item-point {
    width: 110px;
    height: 92px;
    margin: 0 7.5px;
}

.car-item-point img {
    margin-bottom: 11px;
}

.car-item-action {
    margin-top: 13px;
}

.car-item-action .button {
    width: 100%;
    padding: 15px;
    height: 54px;
}

.car-item-point > div:nth-child(2) {
    font-weight: bold;
}

.price {
    overflow: hidden;
}

.price .container {
    position: relative;
    display: block;
    justify-content: center;
    padding-bottom: 121px;
}

.price .sub-title {
    margin-bottom: 20px;
}

.price-text {
    transition: 1s;
    font-size: 16px;
    line-height: 130%;
    color: #5D5D5F;
    margin-bottom: 60px;
}

.price-form {
    max-width: 344px;
}

.car .container .sub-title {
    text-align: center;
    margin: 10px 0 10px;
}


.price-input {
    transition: 1s;
    padding: 22px 18px;
    width: 344px;
    height: 65px;
    background: #FFFFFF;
    border: 1px solid #5D5D5F;
    box-sizing: border-box;
    font-size: 16px;
    color: #000000;
    outline: none;
    margin-top: 15px;
    margin-bottom: 5px;
}

.price-input::placeholder {
    transition: 1s;
    color: #5D5D5F;
}

.price .button {
    width: 100%;
}

.price-image {
    position: absolute;
    bottom: 0;
    left: 401px;
}

#footer {
    transition: 1s;
    border-top: 1px solid #E5E5E5;
    padding: 10px 0 10px;
}

.footer .container-xxl {
    transition: 1s;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.rights {
    transition: 1s;
    font-size: 15px;
    text-align: right;
    color: #030305;
    margin-right: 12px;

}

#main {
    padding-top: 150px;
}

#header {
    transition: 1s;
    width: 100%;
    position: fixed;
    background: white;
    padding: 10px 12px 10px 12px;
    margin-bottom: 12px;
    z-index: 1;
    /*-webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);*/
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid #E5E5E5;
}

li {
    list-style-type: none; /* Убираем маркеры */
}
/* Вся авторизация и регистрация */
.cd-user-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 54, 66, 0.9);
    z-index: 3;
    overflow-y: auto;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;

}

.cd-user-modal.is-visible {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 0.3s 0, visibility 0 0;
    -moz-transition: opacity 0.3s 0, visibility 0 0;
    transition: opacity 0.3s 0, visibility 0 0;
}

.cd-user-modal.is-visible .cd-user-modal-container {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.cd-user-modal-container {
    position: relative;
    width: 90%;
    max-width: 600px;
    background: #FFF;
    margin: 3em auto 4em;
    cursor: auto;
    border-radius: 0.25em;
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.cd-user-modal-container .cd-switcher:after {
    content: "";
    display: table;
    clear: both;
}

.cd-user-modal-container .cd-switcher li {
    width: 50%;
    float: left;
    text-align: center;
}

.cd-user-modal-container .cd-switcher li:first-child a {
    border-radius: .25em 0 0 0;
}

.cd-user-modal-container .cd-switcher li:last-child a {
    border-radius: 0 .25em 0 0;
}

.cd-user-modal-container .cd-switcher a {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #d2d8d8;
    color: #809191;
}

.cd-user-modal-container .cd-switcher a.selected {
    background: #FFF;
    color: #505260;
}

@media only screen and (min-width: 600px) {
    .cd-user-modal-container {
        margin: 4em auto;
    }

    .cd-user-modal-container .cd-switcher a {
        height: 70px;
        line-height: 70px;
    }
}

.cd-form {
    padding: 1.4em;
}

.cd-form .fieldset {
    position: relative;
    margin: 1.4em 0;
}

.cd-form .fieldset:first-child {
    margin-top: 0;
}

.cd-form .fieldset:last-child {
    margin-bottom: 0;
}

.cd-form label {
    font-size: 14px;
    font-size: 0.875rem;
}

.cd-form label.image-replace {
    /* заменить текст с иконой */
    display: inline-block;
    position: absolute;
    left: 15px;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: transparent;
    text-shadow: none;
    background-repeat: no-repeat;
    background-position: 50% 0;
}

.cd-form input {
    margin: 0;
    padding: 0;
    border-radius: 0.25em;
}

.cd-form input.full-width {
    width: 100%;
}

.cd-form input.has-padding {
    padding: 12px 20px 12px 50px;
}

.cd-form input.has-border {
    border: 1px solid #d2d8d8;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.cd-form input.has-border:focus {
    border-color: #343642;
    box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
    outline: none;
}

.cd-form input.has-error {
    border: 1px solid black;
}

.cd-form input[type=password] {
    /* пространство для кнопки Скрыть */
    padding-right: 65px;
}

.cd-form input[type=submit] {
    padding: 16px 0;
    cursor: pointer;
    background: black;
    color: #FFF;
    font-weight: bold;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.no-touch .cd-form input[type=submit]:hover, .no-touch .cd-form input[type=submit]:focus {
    background: #3599ae;
    outline: none;
}

.cd-form .hide-password {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 6px 15px;
    border-left: 1px solid #d2d8d8;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 14px;
    font-size: 0.875rem;
    color: #343642;
}

.cd-form .cd-error-message {
    display: inline-block;
    position: absolute;
    left: -5px;
    bottom: -35px;
    background: black;
    padding: .8em;
    z-index: 2;
    color: #FFF;
    font-size: 13px;
    font-size: 0.8125rem;
    border-radius: 0.25em;
    /* предотвращения кликов и прикосновения */
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.2s 0, visibility 0 0.2s;
    -moz-transition: opacity 0.2s 0, visibility 0 0.2s;
    transition: opacity 0.2s 0, visibility 0 0.2s;
}

.cd-form .cd-error-message::after {
    /* уголок сообщения об ошибке */
    content: '';
    position: absolute;
    left: 22px;
    bottom: 100%;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid black;
}

.cd-form .cd-error-message.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.2s 0, visibility 0 0;
    -moz-transition: opacity 0.2s 0, visibility 0 0;
    transition: opacity 0.2s 0, visibility 0 0;
}

@media only screen and (min-width: 600px) {
    .cd-form {
        padding: 2em;
    }

    .cd-form .fieldset {
        margin: 2em 0;
    }

    .cd-form .fieldset:first-child {
        margin-top: 0;
    }

    .cd-form .fieldset:last-child {
        margin-bottom: 0;
    }

    .cd-form input.has-padding {
        padding: 16px 20px 16px 50px;
    }

    .cd-form input[type=submit] {
        padding: 16px 0;
    }
}

.cd-form-message {
    padding: 1.4em 1.4em 0;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.4;
    text-align: center;
}

@media only screen and (min-width: 600px) {
    .cd-form-message {
        padding: 2em 2em 0;
    }
}


@media only screen and (min-width: 1170px) {
    .cd-close-form {
        display: none;
    }
}

#cd-login, #cd-signup, #cd-reset-password {
    display: none;
}

#cd-login.is-selected, #cd-signup.is-selected, #cd-reset-password.is-selected {
    display: block;
}/* Конец блока signin/signup */



/* .koguvcavis-varazdel {
    padding: 38px 0;
    color: white;
    text-align: center;
}
.sestim-donials{
    max-width: 1200px;
    margin: auto;

    overflow: hidden;
    padding: 0 20px;
}

.sectionesag {
    width: 195px;
    height: 3px;
    background: white;
    margin: 23px auto;
}

.sagestim-lonials{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.vemotau-vokusipol{
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
}
.testimonial {
    background: black;
    padding: 28px;
}
.testimonial img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.gecedanam{
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
}


@media screen and (max-width:960px) {
    .vemotau-vokusipol{
        flex: 100%;
        max-width: 80%;
    }
}

@media screen and (max-width:600px) {
    .vemotau-vokusipol{
        flex: 100%;
        max-width: 100%;
    }
}


.reviews-title h1 {
    text-align: center;
} */




/* Темный режим */
body {
    transition: 1s;
    font-family: Roboto, sans-serif;
    background-color: black;
    
}
.dark-theme {
    background-color: #343a40;
    transition: 1s;
    color: #f8f9fa;
  }
  
  .dark-theme header {
    border-color: #454d55;
  }
  
  .dark-theme .card {
    box-shadow: 0 4px 8px rgba(255,255,255,0.05);
  }
  
  .dark-theme .card:hover {
    box-shadow: 0 4px 8px rgba(255,255,255,0.1);
  }
  
  .dark-theme .card-title {
    color: #f8f9fa;
  }
  
  .dark-theme .btn {
    background-color: #f8f9fa;
    color: #343a40;
  }
  
  .dark-theme .btn:hover {
    background-color: #e9ecef;
    color: #343a40;
  }
  
  .dark-theme footer {
    border-color: #454d55;
  }
  /* Конец-Темный режим */

  .error {
    color: red;
  }

  /* Reviews block */
  /* -------------------------------- 

Primary style

-------------------------------- */
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body {
    font-size: 100%;
    font-family: Roboto;
    src: url("/fonts/Roboto.ttf");
    background: solid whitesmoke;
  }
  
  a {
    color: #1a6eae;
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
  }
  
  /* -------------------------------- 
  
  Main components 
  
  -------------------------------- */
  .cd-testimonials-wrapper {
    position: relative;
    width: 90%;
    max-width: 768px;
    background-color: black;
    margin: 2em auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 20px 40px 70px;
    z-index: 1;
  }
  .cd-testimonials-wrapper::after {
    /* quotation mark */
    content: '\201C';
    position: absolute;
    top: 10px;
    left: 0;
    width: 50px;
    height: 50px;
    padding-top: 8px;
    margin-left: -25px;
    background: rgba(32, 32, 34, 0.9);
    font-family: "Georgia", serif;
    color: #ffffff;
    font-size: 70px;
    font-size: 4.375rem;
    text-align: center;
    /* visible on big devices only */
    display: none;
  }
  @media only screen and (min-width: 768px) {
    .cd-testimonials-wrapper {
      z-index: 0;
      margin: 4em auto;
      padding: 64px 50px 114px;
    }
  }
  @media only screen and (min-width: 1170px) {
    .cd-testimonials-wrapper::after {
      /* quotation mark visible */
      display: block;
    }
  }
  
  .cd-testimonials {
    color: #ffffff;
    text-align: center;
  }
  .cd-testimonials::after {
    clear: both;
    content: "";
    display: table;
  }
  .cd-testimonials > li {
    position: absolute;
    opacity: 0;
  }
  .cd-testimonials > li:first-child {
    position: relative;
    opacity: 1;
  }
  .cd-testimonials p {
    font-family: "Georgia", serif;
    font-style: italic;
    line-height: 1.4;
    margin-bottom: 1em;
    padding: 0 14px;
  }
  @media only screen and (min-width: 768px) {
    .cd-testimonials p {
      font-size: 16px;
      font-size: 1.375rem;
    }
  }
  @media only screen and (min-width: 1170px) {
    .cd-testimonials p {
      font-size: 16px;
      font-size: 1.1rem;
      line-height: 1.6;
    }
  }
  
  .cd-author img, .cd-author .cd-author-info {
    display: inline-block;
    vertical-align: middle;
  }
  .cd-author img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    margin-right: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  }
  .cd-author .cd-author-info {
    text-align: left;
    line-height: 1.2;
  }
  .cd-author .cd-author-info li:first-child {
    font-size: 14px;
    font-size: 0.875rem;
  }
  .cd-author .cd-author-info li:last-child {
    font-size: 12px;
    font-size: 0.75rem;
    color: #6b6b70;
  }
  @media only screen and (min-width: 768px) {
    .cd-author img {
      width: 70px;
      height: 70px;
    }
    .cd-author .cd-author-info {
      line-height: 1.4;
    }
    .cd-author .cd-author-info li:first-child {
      font-size: 16px;
      font-size: 1rem;
    }
    .cd-author .cd-author-info li:last-child {
      font-size: 14px;
      font-size: 0.875rem;
    }
  }
  
  .flex-direction-nav li {
    position: absolute;
    height: 100%;
    width: 40px;
    top: 0;
  }
  .flex-direction-nav li:first-child {
    left: 0;
  }
  .flex-direction-nav li:last-child {
    right: 0;
  }
  .flex-direction-nav li a {
    display: block;
    height: 100%;
    width: 100%;
    /* image replacement */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
  }
  .no-touch .flex-direction-nav li a:hover {
    background-color: #323234;
  }
  .flex-direction-nav li a::before, .flex-direction-nav li a::after {
    /* left and right arrows in css only */
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 2px;
    height: 13px;
    background-color: #ffffff;
  }
  .flex-direction-nav li a::before {
    -webkit-transform: translateY(-35px) rotate(45deg);
    -moz-transform: translateY(-35px) rotate(45deg);
    -ms-transform: translateY(-35px) rotate(45deg);
    -o-transform: translateY(-35px) rotate(45deg);
    transform: translateY(-35px) rotate(45deg);
  }
  .flex-direction-nav li a::after {
    -webkit-transform: translateY(-27px) rotate(-45deg);
    -moz-transform: translateY(-27px) rotate(-45deg);
    -ms-transform: translateY(-27px) rotate(-45deg);
    -o-transform: translateY(-27px) rotate(-45deg);
    transform: translateY(-27px) rotate(-45deg);
  }
  .flex-direction-nav li:last-child a::before {
    -webkit-transform: translateY(-35px) rotate(-45deg);
    -moz-transform: translateY(-35px) rotate(-45deg);
    -ms-transform: translateY(-35px) rotate(-45deg);
    -o-transform: translateY(-35px) rotate(-45deg);
    transform: translateY(-35px) rotate(-45deg);
  }
  .flex-direction-nav li:last-child a::after {
    -webkit-transform: translateY(-27px) rotate(45deg);
    -moz-transform: translateY(-27px) rotate(45deg);
    -ms-transform: translateY(-27px) rotate(45deg);
    -o-transform: translateY(-27px) rotate(45deg);
    transform: translateY(-27px) rotate(45deg);
  }
  @media only screen and (min-width: 768px) {
    .flex-direction-nav li {
      width: 50px;
    }
  }
  @media only screen and (min-width: 1170px) {
    .flex-direction-nav li a::before, .flex-direction-nav li a::after {
      background-color: #5e5e63;
      -webkit-transition: background-color 0.2s;
      -moz-transition: background-color 0.2s;
      transition: background-color 0.2s;
    }
    .flex-direction-nav li a:hover::before, .flex-direction-nav li a:hover::after {
      background-color: #ffffff;
    }
  }
  
  .cd-see-all {
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #252527;
    text-align: center;
    text-transform: uppercase;
    
    font-weight: 700;
    font-size: 12px;
    font-size: 0.75rem;
    -webkit-transition: color, 0.2s;
    -moz-transition: color, 0.2s;
    transition: color, 0.2s;
  }
  .no-touch .cd-see-all:hover {
    color: #79b6e4;
  }
  
  .cd-testimonials-all {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
  }
  .cd-testimonials-all .cd-testimonials-all-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
  }
  .cd-testimonials-all .cd-testimonials-all-wrapper > ul {
    width: 90%;
    max-width: 1170px;
    margin: 4em auto;
  }
  .cd-testimonials-all .cd-testimonials-all-wrapper > ul::after {
    clear: both;
    content: "";
    display: table;
  }
  .cd-testimonials-all .cd-testimonials-item {
    margin-bottom: 2em;
    opacity: 0;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0) scale(0.4);
    -moz-transform: translate3d(0, 0, 0) scale(0.4);
    -ms-transform: translate3d(0, 0, 0) scale(0.4);
    -o-transform: translate3d(0, 0, 0) scale(0.4);
    transform: translate3d(0, 0, 0) scale(0.4);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform .3s, opacity .3s;
    -moz-transition: -moz-transform .3s, opacity .3s;
    transition: transform .3s, opacity .3s;
  }
  .cd-testimonials-all p {
    position: relative;
    background: #79b6e4;
    color: #ffffff;
    padding: 2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.4;
    border-radius: 0.25em;
    margin-bottom: 1em;
  }
  .cd-testimonials-all p::after {
    /* creating the triangle in css */
    content: '';
    position: absolute;
    top: 100%;
    left: 2em;
    height: 0;
    width: 0;
    border: 8px solid transparent;
    border-top-color: #79b6e4;
  }
  .cd-testimonials-all .cd-author {
    text-align: left;
    margin-left: 1.5em;
  }
  .cd-testimonials-all .cd-author img {
    box-shadow: 0 0 0 transparent;
  }
  .cd-testimonials-all.is-visible {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
  }
  .cd-testimonials-all.is-visible .cd-testimonials-all-wrapper {
    -webkit-overflow-scrolling: touch;
  }
  .cd-testimonials-all.is-visible .cd-testimonials-item {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    -moz-transform: translate3d(0, 0, 0) scale(1);
    -ms-transform: translate3d(0, 0, 0) scale(1);
    -o-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
  }
  @media only screen and (min-width: 768px) {
    .cd-testimonials-all .cd-testimonials-item {
      width: 46%;
      margin: 0 2% 3em;
    }
    .cd-testimonials-all .cd-author {
      margin-left: 1em;
    }
  }
  @media only screen and (min-width: 1170px) {
    .cd-testimonials-all .cd-testimonials-item {
      width: 30%;
      margin: 0 1.6666% 3em;
    }
  }
  
  .close-btn {
    position: fixed;
    display: block;
    width: 40px;
    height: 40px;
    top: 50px;
    right: 3%;
    /* image replacement */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
  }
  .close-btn::before, .close-btn::after {
    /* close icon in css */
    content: '';
    position: absolute;
    display: inline-block;
    width: 2px;
    height: 24px;
    top: 8px;
    left: 19px;
    background-color: #39393c;
  }
  .close-btn::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .close-btn::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: black;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  }
  @media (prefers-reduced-motion: reduce) {
    .nav-link {
      transition: none;
    }
  }
  .nav-link:hover, .nav-link:focus {
    color: var(--bs-nav-link-hover-color);
  }
  .nav-link.disabled {
    color: var(--bs-nav-link-disabled-color);
    pointer-events: none;
    cursor: default;
  }

  .cd-signin {
    text-decoration: none;
  }