/* Темный режим */
* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto.ttf");
}

@font-face {
    font-family: Roboto;
    src: url("../fonts/Robotobold.ttf");
    font-weight: bold;
}

#footer {
    background-color: black;
}

#header {
    background-color: black;
}

#main {
    background-color: #333 ;
}
body {
    font-family: Roboto, sans-serif;
    background-color: #333;
    
}
.dark-theme {
    background-color: #343a40;
    transition: 1s;
    color: #f8f9fa;
  }
  
  .dark-theme header {
    border-color: #454d55;
  }
  
  .dark-theme .card {
    box-shadow: 0 4px 8px rgba(255,255,255,0.05);
  }
  
  .dark-theme .card:hover {
    box-shadow: 0 4px 8px rgba(255,255,255,0.1);
  }
  
  .dark-theme .card-title {
    color: #f8f9fa;
  }
  
  .dark-theme .btn {
    background-color: #f8f9fa;
    color: #343a40;
  }
  
  .dark-theme .btn:hover {
    background-color: #e9ecef;
    color: #343a40;
  }
  
  .dark-theme footer {
    border-color: #454d55;
  }
  /* Конец-Темный режим */