* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto.ttf");
}

@font-face {
    font-family: Roboto;
    src: url("../fonts/Robotobold.ttf");
    font-weight: bold;
}

body {
    font-family: Roboto, sans-serif;

}

/*.header {*/
/*    border-bottom: 1px solid #E5E5E5;*/
/*    padding-bottom: 10px;*/
/*    background-color: white;*/
/*}*/

.container {
    margin: 0 auto;
    top: 0;
    left: 0;
    width: 100vw;


}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo img {
    vertical-align: bottom;
    max-width: 250px;
    max-height: 75px;
    margin-left: 100px;

}

.footer .logo img {
    margin: 0;
}

.logo img:hover {
    background-color: #ffffff;
    opacity: 0.5;
    filter: alpha(opacity=70);
    transition: all .1s ease-in-out;
}

.logsign {
    margin-right: 100px;
}


.logsign img {
    vertical-align: bottom;
    max-width: 200px;
    max-height: 55px;
}

.logsign:hover {
    background-color: #ffffff;

    font-weight: bold;
    opacity: 0.5;
    filter: alpha(opacity=70);
    transition: all .2s ease-in-out;
    transform: scale(1.0);
}


.menu {
    margin-left: 100px;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu-item {
    margin: auto;
    padding-right: 100px;
}

/*#bron {*/
/*    margin-right: 115px;*/
/*}*/

.menu-item a {
    font-size: 15px;
    color: #030305;
    text-decoration: none;
}

.menu-item a:hover {
    border-bottom: 2px solid black;
    text-decoration: none;
    font-size: 15px;
    color: #030305;
}

.main {
    background-image: url("../images/background.png");
    background-position: center;
    background-size: cover;
    padding: 104px 0 154px 0;
    display: block;
}

.main-info {
    max-width: 855px;
}

.main-title {
    font-weight: bold;
    font-size: 80px;
    line-height: 110%;
    color: #030305;
    margin-bottom: 40px;
}

.main-text {
    font-size: 16px;
    line-height: 130%;
    color: #030305;
    margin-bottom: 40px;
    max-width: 599px;
}

.video-item {
    position: center;
    right: 0;
    z-index:-1;
    width: 100%;
    height: 100%;
    background-position: 100% 100%;
    background-size: contain;
}

.button {
    padding: 20px;
    width: 334px;
    height: 64px;
    background: #030305;
    border: 0;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: background-color .5s;
}

.button:hover {
    cursor: pointer;
    background: #575757;
}

.car {
    padding: 100px 0;
}

.sub-title {
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    color: #030305;
}

.sub-title2 {
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    color: #030305;
    padding: 50px 0 50px;
}

.car-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.car-item {
    max-width: 600px;
    text-align: center;
    margin-top: 40px;
}

.car-item-image:hover img {
    transform: scale(1.1);
}

.car-item-image img {
    vertical-align: bottom;
    transition: all .3s;
}

.car-item-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #030305;
    padding: 15px 0 17px 0;
}

.car-item-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.car-item-point {
    width: 110px;
    height: 92px;
    margin: 0 7.5px;
}

.car-item-point img {
    margin-bottom: 11px;
}

.car-item-action {
    margin-top: 13px;
}

.car-item-action .button {
    width: 100%;
    padding: 15px;
    height: 54px;
}

.car-item-point > div:nth-child(2) {
    font-weight: bold;
}

.price {
    overflow: hidden;
}

.price .container {
    position: relative;
    display: block;
    justify-content: center;
    padding-bottom: 121px;
}

.price .sub-title {
    margin-bottom: 20px;
}

.price-text {
    font-size: 16px;
    line-height: 130%;
    color: #5D5D5F;
    margin-bottom: 60px;
}

.price-form {
    max-width: 344px;
}

.car .container .sub-title {
    text-align: center;
    margin: 10px 0 10px;
}


.price-input {
    padding: 22px 18px;
    width: 344px;
    height: 65px;
    background: #FFFFFF;
    border: 1px solid #5D5D5F;
    box-sizing: border-box;
    font-size: 16px;
    color: #000000;
    outline: none;
    margin-bottom: 15px;
}

.price-input::placeholder {
    color: #5D5D5F;
}

.price .button {
    width: 100%;
}

.price-image {
    position: absolute;
    bottom: 0;
    left: 401px;
}

.footer {
    border-top: 1px solid #E5E5E5;
    padding: 10px 0 10px;
}

.footer .container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.rights {
    font-size: 15px;
    text-align: right;
    color: #030305;
    margin-right: 12px;

}

.header {
    width: 100%;
    background: #fff;
    padding: 10px 12px 10px 12px;
    margin-bottom: 12px;
    z-index: 1;
    /*-webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);*/
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid #E5E5E5;
}

.header__inner {
    width: 100%;
    max-width: 1200px;
    margin: 0 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 15px;
}

.header_fixed {
    position: sticky;
    width: 100%;
    padding: 10px 0 10px 12px;
    left: 0;
    top: 0;
}


li {
    list-style-type: none; /* Убираем маркеры */
}
/* Вся авторизация и регистрация */
.cd-user-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 54, 66, 0.9);
    z-index: 3;
    overflow-y: auto;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;

}

.cd-user-modal.is-visible {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 0.3s 0, visibility 0 0;
    -moz-transition: opacity 0.3s 0, visibility 0 0;
    transition: opacity 0.3s 0, visibility 0 0;
}

.cd-user-modal.is-visible .cd-user-modal-container {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.cd-user-modal-container {
    position: relative;
    width: 90%;
    max-width: 600px;
    background: #FFF;
    margin: 3em auto 4em;
    cursor: auto;
    border-radius: 0.25em;
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.cd-user-modal-container .cd-switcher:after {
    content: "";
    display: table;
    clear: both;
}

.cd-user-modal-container .cd-switcher li {
    width: 50%;
    float: left;
    text-align: center;
}

.cd-user-modal-container .cd-switcher li:first-child a {
    border-radius: .25em 0 0 0;
}

.cd-user-modal-container .cd-switcher li:last-child a {
    border-radius: 0 .25em 0 0;
}

.cd-user-modal-container .cd-switcher a {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #d2d8d8;
    color: #809191;
}

.cd-user-modal-container .cd-switcher a.selected {
    background: #FFF;
    color: #505260;
}

@media only screen and (min-width: 600px) {
    .cd-user-modal-container {
        margin: 4em auto;
    }

    .cd-user-modal-container .cd-switcher a {
        height: 70px;
        line-height: 70px;
    }
}

.cd-form {
    padding: 1.4em;
}

.cd-form .fieldset {
    position: relative;
    margin: 1.4em 0;
}

.cd-form .fieldset:first-child {
    margin-top: 0;
}

.cd-form .fieldset:last-child {
    margin-bottom: 0;
}

.cd-form label {
    font-size: 14px;
    font-size: 0.875rem;
}

.cd-form label.image-replace {
    /* заменить текст с иконой */
    display: inline-block;
    position: absolute;
    left: 15px;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: transparent;
    text-shadow: none;
    background-repeat: no-repeat;
    background-position: 50% 0;
}

.cd-form input {
    margin: 0;
    padding: 0;
    border-radius: 0.25em;
}

.cd-form input.full-width {
    width: 100%;
}

.cd-form input.has-padding {
    padding: 12px 20px 12px 50px;
}

.cd-form input.has-border {
    border: 1px solid #d2d8d8;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.cd-form input.has-border:focus {
    border-color: #343642;
    box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
    outline: none;
}

.cd-form input.has-error {
    border: 1px solid black;
}

.cd-form input[type=password] {
    /* пространство для кнопки Скрыть */
    padding-right: 65px;
}

.cd-form input[type=submit] {
    padding: 16px 0;
    cursor: pointer;
    background: black;
    color: #FFF;
    font-weight: bold;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.no-touch .cd-form input[type=submit]:hover, .no-touch .cd-form input[type=submit]:focus {
    background: #3599ae;
    outline: none;
}

.cd-form .hide-password {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 6px 15px;
    border-left: 1px solid #d2d8d8;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 14px;
    font-size: 0.875rem;
    color: #343642;
}

.cd-form .cd-error-message {
    display: inline-block;
    position: absolute;
    left: -5px;
    bottom: -35px;
    background: black;
    padding: .8em;
    z-index: 2;
    color: #FFF;
    font-size: 13px;
    font-size: 0.8125rem;
    border-radius: 0.25em;
    /* предотвращения кликов и прикосновения */
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.2s 0, visibility 0 0.2s;
    -moz-transition: opacity 0.2s 0, visibility 0 0.2s;
    transition: opacity 0.2s 0, visibility 0 0.2s;
}

.cd-form .cd-error-message::after {
    /* уголок сообщения об ошибке */
    content: '';
    position: absolute;
    left: 22px;
    bottom: 100%;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid black;
}

.cd-form .cd-error-message.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.2s 0, visibility 0 0;
    -moz-transition: opacity 0.2s 0, visibility 0 0;
    transition: opacity 0.2s 0, visibility 0 0;
}

@media only screen and (min-width: 600px) {
    .cd-form {
        padding: 2em;
    }

    .cd-form .fieldset {
        margin: 2em 0;
    }

    .cd-form .fieldset:first-child {
        margin-top: 0;
    }

    .cd-form .fieldset:last-child {
        margin-bottom: 0;
    }

    .cd-form input.has-padding {
        padding: 16px 20px 16px 50px;
    }

    .cd-form input[type=submit] {
        padding: 16px 0;
    }
}

.cd-form-message {
    padding: 1.4em 1.4em 0;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.4;
    text-align: center;
}

@media only screen and (min-width: 600px) {
    .cd-form-message {
        padding: 2em 2em 0;
    }
}


@media only screen and (min-width: 1170px) {
    .cd-close-form {
        display: none;
    }
}

#cd-login, #cd-signup, #cd-reset-password {
    display: none;
}

#cd-login.is-selected, #cd-signup.is-selected, #cd-reset-password.is-selected {
    display: block;
}/* Конец блока signin/signup */

.koguvcavis-varazdel {
    padding: 38px 0;

    color: white;
    text-align: center;
}
.sestim-donials{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

.sectionesag {
    width: 195px;
    height: 3px;
    background: white;
    margin: 23px auto;
}

.sagestim-lonials{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.vemotau-vokusipol{
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
}
.testimonial {
    background: black;
    padding: 28px;
}
.testimonial img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.gecedanam{
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
}


@media screen and (max-width:960px) {
    .vemotau-vokusipol{
        flex: 100%;
        max-width: 80%;
    }
}

@media screen and (max-width:600px) {
    .vemotau-vokusipol{
        flex: 100%;
        max-width: 100%;
    }
}